<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>Car Page</title>
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
</head>
<body>
	<div id="data-collection">
		<div id="add-car">
    		<form method="post" th:action="@{/car/save}" th:object="${carForm}">
    			<label>Brand</label>
    			<input type="text" th:field="*{brand}"/><br/>
    			<label>Type</label>
    			<input type="text" th:field="*{type}"/><br/>
    			<label>Price</label>
    			<input type="text" th:field="*{price}"/><br/>
    			<label>Color</label>
    			<input type="text" th:field="*{color}"/><br/>
    			<input type="submit" value="save" />
    		</form>
    		<span th:if="${success}" th:text="${success}"></span>
    	</div>
    	<span th:text="${springmsg}"></span>
    	<table>
    		<thead>
    			<tr>
    				<td>Brand</td>
    				<td>Type</td>
    				<td>Price</td>
    				<td>Color</td>
    			</tr>
    		</thead>
    		<tbody>
    			<tr th:each="car : ${car}">
    				<td th:text="${car.brand}"></td>
    				<td th:text="${car.type}"></td>
    				<td th:text="${car.price}"></td>
    				<td th:text="${car.color}"></td>
    				<td>
    					<button th:onclick="deleteData('[[${car.id}]]')">Delete</button>
    				</td>
    			</tr>
    		</tbody>
    	</table>
	</div>
	
	<!-- Dikomen karena car berbentuk list pada controller -->
    <!-- <div id="container">
        <label>Brand: </label>
        <span th:text="${car.brand}"></span><br/>
        <label>Type: </label>
        <span th:text="${car.type}"></span><br/>
        <label>Price: </label>
        <span th:text="${car.price}"></span><br/>
        <label>Color: </label>
        <span th:text="${car.color}"></span><br/>
    </div> -->
</body>
<script inline="javascript">
	/*<![CDATA[*/
	var baseUrl = /*[[@{/}]]*/"";
	/*]]>*/
	
	function deleteData(data){
		var conf = confirm("are you sure?")
		if(conf==true){
			window.location = baseUrl + "car/delete?id=" + data;
		}
		
		return false;
	}
</script>
</html>