<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>Employee Page</title>
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
<link rel="stylesheet" href="https://cdn.datatables.net/1.13.1/css/jquery.dataTables.min.css" />
</head>
<body>
    <div id="data-collection" class="col-md-6 offset-md-3 mt-5">
    	
    	<div class="mt-5">
	    	<form th:action="@{/employee(search=${keyword})}" method="get">
			    <label class="col-md-1">Filter:</label> 
			    <input class="offset-md-1" type="text" name="keyword" id="keyword" size="60" th:value="${keyword}" required />
			    &nbsp;
			    <input type="submit" value="Search" />
			    &nbsp;
			    <input type="button" value="Clear" id="btnClear" onclick="clearSearch()" />
			</form>
		</div><br/>
    	<table id="mytable" class="table table-Default table-hover table-striped-columns border border-dark">
    		<thead>
    			<tr>
    				<td>First Name</td>
    				<td>Last Name</td>
    				<td>Contact</td>
    				<td>Address</td>
    				<td class="text-center">Action</td>
    			</tr>
    		</thead>
    		<tbody class="table-group-divider">
    			<tr th:each="employee : ${employees}">
    				<td th:text="${employee.firstName}"></td>
    				<td th:text="${employee.lastName}"></td>
    				<td th:text="${employee.contact}"></td>
    				<td th:text="${employee.address}"></td>
    				<td class="text-center">
    					<button th:onclick="deleteData('[[${employee.id}]]')" class="btn btn-danger">Delete</button>
    					<button th:onclick="editData('[[${employee.id}]]')" class="btn btn-info">Edit</button>
    				</td>
    			</tr>
    		</tbody>
    	</table>
    </div>
</body>
<script inline="javascript">
	/*<![CDATA[*/
	var baseUrl = /*[[@{/}]]*/"";
	/*]]>*/
	
	function deleteData(data){
		var conf = confirm("Anda Ingin Menghapus Data Ini?")
		if(conf==true){
			window.location = baseUrl + "employee/delete?id=" + data;
		}
		
		return false;
	}
	function editData(data){
		var conf = confirm("Anda Ingin Menyunting Data Ini?")
		if(conf==true){
			window.location = baseUrl + "employee/edit-employee?id=" + data;
		}
		
		return false;
	}
	function clearSearch() {
        window.location = "[[@{/employee}]]";
    }
</script>
<script src="https://code.jquery.com/jquery-3.5.1.js"></script>
<script src="https://cdn.datatables.net/1.13.1/js/jquery.dataTables.min.js"></script>
<script>
$(document).ready(function(){
	$('#mytable').dataTable();
});
</script>
</html>