<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>Employee Page</title>
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
</head>
<body>
    <div id="data-collection" class="col-md-6 offset-md-3 mt-5">
    	<div id="add-employee" class="">
    		<form method="post" th:action="@{/employee/save}" th:object="${employeeForm}">
    			<div class="mb-3 row">
    				<label class="col-sm-2 col-form-label">First Name</label>
    				<div class="col-md-6">
    					<input type="text" th:field="*{firstName}" class="form-control border border-dark"/>
    				</div>
    				<div th:if="${#fields.hasErrors('firstName')}" class="error col-md-6 offset-md-2 text-danger" th:errors="*{firstName}"></div>
    			</div>
    			<div class="mb-3 row">
	    			<label class="col-sm-2 col-form-label">Last Name</label>
	    			<div class="col-md-6">
	    				<input type="text" th:field="*{lastName}" class="form-control border border-dark"/>
    				</div>
	    			<div th:if="${#fields.hasErrors('lastName')}" class="error col-md-6 offset-md-2 text-danger" th:errors="*{lastName}"></div>
    			</div>
    			<div class="mb-3 row">
    				<label class="col-sm-2 col-form-label">Contact</label>
    				<div class="col-md-6">
    					<input type="text" th:field="*{contact}" class="form-control border border-dark"/>
   					</div><br/>
    			</div>
    			<div class="mb-3 row">
    				<label class="col-sm-2 col-form-label">Address</label>
    				<div class="col-md-6">
    					<input type="text" th:field="*{address}" class="form-control border border-dark"/>
   					</div><br/>
    			</div><br/>
    			<input type="submit" value="save" class="col-md-1 offset-md-2"/>
    		</form>
    		<span th:if="${success}" th:text="${success}"></span>
    	</div>
    	<div class="mt-5">
	    	<form th:action="@{/employee(search=${keyword})}" method="get">
			    <label class="col-md-1">Filter:</label> 
			    <input class="offset-md-1" type="text" name="keyword" id="keyword" size="60" th:value="${keyword}" required />
			    &nbsp;
			    <input type="submit" value="Search" />
			    &nbsp;
			    <input type="button" value="Clear" id="btnClear" onclick="clearSearch()" />
			</form>
		</div><br/>
    	<table class="table table-Default table-hover table-striped-columns border border-dark">
    		<thead>
    			<tr>
    				<td>First Name</td>
    				<td>Last Name</td>
    				<td>Contact</td>
    				<td>Address</td>
    				<td class="text-center">Action</td>
    			</tr>
    		</thead>
    		<tbody class="table-group-divider">
    			<tr th:each="employee : ${page.content}">
    				<td th:text="${employee.firstName}"></td>
    				<td th:text="${employee.lastName}"></td>
    				<td th:text="${employee.contact}"></td>
    				<td th:text="${employee.address}"></td>
    				<td class="text-center">
    					<button th:onclick="deleteData('[[${employee.id}]]')" class="btn btn-danger">Delete</button>
    					<button th:onclick="editData('[[${employee.id}]]')" class="btn btn-info">Edit</button>
    				</td>
    			</tr>
    		</tbody>
    	</table>
		<div class="pagination-div">
            <span th:if="${page.hasPrevious()}">
                <a th:href="@{/employee(keyword=${keyword},pageNo=${page.number-1},pageSize=${page.size})}">Previous</a>
            </span>
            <th:block th:each="i: ${#numbers.sequence(0, page.totalPages - 1)}">
                <span th:if="${page.number == i}" class="selected">[[${i}+1]]</span>
                <span th:if="${i != -1 && (page.number == i+1 || page.number == i-1)}">
                	<a th:href="@{/employee(keyword=${keyword},pageNo=${i},pageSize=${page.size})}">[[${i}+1]]</a>
                </span>
            </th:block>
            <span th:if="${page.hasNext()}">
                <a th:href="@{/employee(keyword=${keyword},pageNo=${page.number+1},pageSize=${page.size})}">Next</a>
            </span>
		</div>
    </div>
</body>
<script inline="javascript">
	/*<![CDATA[*/
	var baseUrl = /*[[@{/}]]*/"";
	/*]]>*/
	
	function deleteData(data){
		var conf = confirm("Anda Ingin Menghapus Data Ini?")
		if(conf==true){
			window.location = baseUrl + "employee/delete?id=" + data;
		}
		
		return false;
	}
	function editData(data){
		var conf = confirm("Anda Ingin Menyunting Data Ini?")
		if(conf==true){
			window.location = baseUrl + "employee/edit-employee?id=" + data;
		}
		
		return false;
	}
	function clearSearch() {
        window.location = "[[@{/employee}]]";
    }
</script>
</html>