<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>Home Page</title>
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
</head>
<body>
	<span> INI HOME</span><br/>
	<span th:text="${SpringMessage}"></span><br/>
	<!-- Dikomen karena error (berbentuk list) -->
    <!-- <div id="container">
        <label>First Name: </label>
        <span th:text="${employee.firstName}"></span><br/>
            <label>Last Name: </label>
        <span th:text="${employee.lastName}"></span><br/>
            <label>Contact: </label>
        <span th:text="${employee.contact}"></span><br/>
    </div>
    <div id="container" th:object="${employee}">
        <label>First Name: </label>
        <span th:text="*{firstName}"></span><br/>
            <label>Last Name: </label>
        <span th:text="*{lastName}"></span><br/>
            <label>Contact: </label>
        <span th:text="*{contact}"></span><br/>
    </div> -->
    
    <div id="data-collection">
    	<table>
    		<thead>
    			<tr>
    				<td>First Name</td>
    				<td>Last Name</td>
    			</tr>
    		</thead>
    		<tbody>
    			<tr th:each="employee : ${employee}">
    				<td th:text="${employee.firstName}"></td>
    				<td th:text="${employee.lastName}"></td>
    			</tr>
    		</tbody>
    	</table>
    </div>
</body>
</html>